/**
 * GLOBAL CLASSES *
 *
 * @format
 */

body {
  font-family: "Open Sans", sans-serif;
  color: #535353;
}

.img-fluid {
  max-width: 100% !important;
  height: auto;
}

.form-control:focus {
  box-shadow: none;
}

.login-box .alert {
  padding: 10.5px 20px;
  font-size: 13px;
  border: none !important;
  border-radius: 3px;
}

.login-box .alert-dismissible .btn-close {
  padding: 13.5px 14px;
  background-size: 8px;
}

.login-box .alert-dismissible .btn-close:focus,
.login-box .alert-dismissible .btn-close:active {
  box-shadow: none;
}

.login-box .password-indicator {
  position: absolute;
  right: 15px;
  top: 17px;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 500ms;
  font-size: 17px;
  color: #999;
}

.login-box .password-wrapper:hover .password-indicator {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 500ms;
  font-size: 17px;
  color: #555;
}

.login-box .login-popover {
  font-size: 14px;
  color: #777;
  cursor: help;
}

.login-box .login-popover-abs {
  position: absolute;
  right: 15px;
  top: 15px;
}

.popover {
  border: 1px solid #ebeef5 !important;
  box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
}

.popover-header {
  box-shadow: none;
  border: 0px;
  background: #fff;
  color: #555;
  font-size: 15px;
  font-family: "Jost", sans-serif;
  padding-bottom: 5px;
}

.popover-body {
  padding: 5px 10px 10px 16px;
  color: #777;
  font-size: 13px;
}

.login-box .form-group label.error {
  font-size: 13px;
  text-align: left;
  color: #535353;
  width: 100%;
}

/** Login 11 start **/
.login-11 .login-inner-form {
  color: #cccccc;
  position: relative;
}

.login-11 .bg-color-13 {
  min-height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 15px;
  background: #fbf1f1;
}

.login-11 h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Jost", sans-serif;
}

.login-11 .form-section {
  max-width: 550px;
  margin: 0 auto;
  width: 100%;
}

.login-11 .form-box {
  width: 100%;
  text-align: center;
}

.login-11 .login-inner-form .form-group {
  margin-bottom: 25px;
}

.login-11 .login-inner-form .form-box {
  float: left;
  width: 100%;
  position: relative;
}

.login-11 .login-inner-form .form-control {
  font-size: 16px;
  outline: none;
  color: #616161;
  border-radius: 3px;
  font-weight: 500;
  border: 1px solid transparent;
  background: #fbf1f1;
}

.login-11 .login-inner-form img {
  margin-bottom: 5px;
  height: 40px;
}

.login-11 .login-inner-form .form-box input {
  float: left;
  width: 100%;
  padding: 14.5px 50px 14.5px 25px;
  border-radius: 3px;
}

.login-11 .login-inner-form .form-box i {
  position: absolute;
  top: 12px;
  right: 20px;
  font-size: 20px;
  color: #616161;
}

.login-11 .login-inner-form label {
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 5px;
}

.login-11 .login-inner-form .forgot {
  margin: 0;
  line-height: 45px;
  color: #535353;
  font-size: 15px;
  float: right;
}

.login-11 .bg-img {
  background: rgba(0, 0, 0, 0.04) url(../img/img-11.jpg) top left repeat;
  background-size: cover;
  top: 0;
  bottom: 0;
  opacity: 1;
  z-index: 999;
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.login-11 .bg-img:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(36 10 99 / 74%);
}

.login-11 .info {
  max-width: 400px;
  margin: 0 auto;
  padding: 50px 40px;
  border: solid 5px #fff;
  text-align: center;
  margin-bottom: 30px;
  -webkit-transition: all 0.5s;
  transition: all 0.9s;
  position: relative;
  border-radius: 4px;
  z-index: 1;
}

.login-11 .info h1 {
  font-size: 28px;
  color: #fff;
  margin-bottom: 20px;
  text-transform: uppercase;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.login-11 .info p {
  margin-bottom: 0;
  color: #fff;
  line-height: 28px;
  opacity: 0.9;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.login-11 .info::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  border-radius: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.9s;
  z-index: -1;
}

.login-11:hover .info::before {
  height: 100%;
}

.login-11 .info::before {
  background: #fff;
}

.login-11:hover .info p {
  color: #535353;
}

.login-11:hover .info h1 {
  color: #f78c30;
}

.login-11 .login-inner-form p {
  margin: 0;
  color: #616161;
}

.login-11 .login-inner-form p a {
  color: #616161;
}

.login-11 .login-inner-form button:focus {
  outline: none;
  outline: 0 auto -webkit-focus-ring-color;
}

.login-11 .form-section a {
  text-decoration: none;
}

.login-11 .logo img {
  height: 25px;
  margin-bottom: 20px;
}

.login-11 .nav-pills li {
  display: inline-block;
}

.login-11 .login-inner-form .form-check {
  float: left;
  margin-bottom: 0;
}

.login-11 .login-inner-form .form-check a {
  color: #d6d6d6;
  float: right;
}

.login-11 .login-inner-form .form-check-input {
  position: absolute;
  margin-left: 0;
}

.login-11 .login-inner-form .form-check-label {
  padding-left: 5px;
  margin-bottom: 0;
  font-size: 16px;
  color: #616161;
}

.login-11 .btn-section {
  top: 20px;
  position: absolute;
  right: 20px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
}

.login-11 .btn-section .link-btn {
  font-size: 14px;
  float: left;
  background: transparent;
  letter-spacing: 0.5px;
  text-align: left;
  font-weight: 400;
  border-radius: 0;
  color: #f78c30;
  text-decoration: none;
  text-decoration: blink;
  font-family: "Jost", sans-serif;
  text-transform: uppercase;
}

.login-11 .btn-section .btn-2 {
  line-height: 40px;
  text-align: center;
  border-radius: 0 50px 50px 0;
  width: 110px;
}

.login-11 .btn-section .active-bg {
  background: #f78c30;
  color: #fff;
}

.login-11 .btn-section .default-bg {
  background: #fff;
}

.login-11 .btn-section .btn-1 {
  line-height: 40px;
  text-align: center;
  width: 110px;
  border-radius: 50px 0 0 50px;
}

.login-11 .btn-section {
  margin: 0 auto 30px;
}

.login-11 .login-inner-form .checkbox a {
  font-size: 16px;
  color: #616161;
  float: right;
  margin-left: 3px;
}

.login-11 .form-section {
  text-align: center;
  padding: 60px 60px;
  background: #fff;
  border-radius: 5px;
}

.login-11 .form-section h3 {
  font-size: 25px;
  margin-bottom: 35px;
  font-weight: 400;
  color: #313131;
}

.login-11 .btn-theme {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  -webkit-appearance: none;
  border: none;
  outline: none !important;
  color: #ffffff;
  text-transform: capitalize;
  transition: all 0.3s linear;
  z-index: 1;
  overflow: hidden;
  cursor: pointer;
  font-size: 17px;
  font-weight: 400;
  width: 100%;
  font-family: "Jost", sans-serif;
  border-radius: 50px;
}

.login-11 .form-section .form-check-input {
  width: 20px;
  height: 20px;
  margin-top: 0;
  vertical-align: top;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
  border: 1px solid #fbf1f1;
  border-radius: 0;
  background-color: #fbf1f1;
  margin-left: -24px;
}

.login-11 .form-check-input:checked {
  background-color: #f78c30;
  border-color: #f78c30;
}

.login-11 .btn-theme i::before {
  position: relative;
  font-size: 18px;
  top: 3px;
  padding-left: 5px;
}

.login-11 .btn-theme:hover {
  color: #fff;
}

.login-11 .btn-theme:hover:after {
  transform: perspective(200px) scaleX(1.05) rotateX(0deg) translateZ(0);
  transition: transform 0.4s linear, transform 0.4s linear;
}

.login-11 .btn-theme:after {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: "";
  border-radius: 7px;
  transform: perspective(200px) scaleX(0.1) rotateX(90deg) translateZ(-10px);
  transform-origin: bottom center;
  transition: transform 0.4s linear, transform 0.4s linear;
  z-index: -1;
}

.login-11 .btn-lg {
  padding: 0 50px;
  line-height: 55px;
}

.login-11 .btn {
  box-shadow: none !important;
}

.login-11 .btn-md {
  padding: 0 50px;
  line-height: 45px;
}

.login-11 .btn-primary {
  background: #f78c30;
}

.login-11 .btn-primary:after {
  background: #e0781f;
}

.login-11 .btn-success:after {
  background: #146c43;
}

.login-11 .btn-info:after {
  background: #31d2f2;
}

.login-11 .btn-danger:after {
  background: #b02a37;
}

.login-11 .btn-dark:after {
  background: #1a1e21;
}

.login-11 .btn-warning:after {
  background: #ffcd39;
}

.login-11 .btn-light:after {
  background: #f9fafb;
}

.login-11 .full-none {
  display: none;
  margin-bottom: 0;
  font-size: 16px;
  color: #616161;
}

.login-11 .full-none a {
  color: #616161;
}

.login-11 .social-list {
  margin-top: 20px;
}

.login-11 .social-list a {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  display: inline-block;
  font-size: 18px;
  color: #fff;
  margin: 0 1px 2px;
  border-radius: 50%;
}

.login-11 .facebook-bg {
  background: #4867aa;
}

.login-11 .facebook-bg:hover {
  background: #3b589e;
  color: #fff;
}

.login-11 .twitter-bg {
  background: #33ccff;
}

.login-11 .twitter-bg:hover {
  background: #56d7fe;
}

.login-11 .google-bg {
  background: #db4437;
}

.login-11 .google-bg:hover {
  background: #dc4e41;
}

.login-11 .linkedin-bg {
  background: #2392e0;
  color: #fff;
}

.login-11 .linkedin-bg:hover {
  background: #1c82ca;
  color: #fff;
}

.login-11 .pinterest-bg {
  background: #bd081c;
  color: #fff;
}

.login-11 .pinterest-bg:hover {
  background: #a30618;
  color: #fff;
}

/** MEDIA **/
@media (max-width: 992px) {
  .login-11 .none-992 {
    display: none;
  }
}

@media (max-width: 768px) {
  .login-11 .form-section {
    text-align: center;
    padding: 60px 30px;
  }

  .login-11 .btn-section {
    display: none;
  }

  .login-11 .full-none {
    display: initial;
  }

  .login-11 .social-list {
    margin: 30px 0;
  }
}
/** Login 11 start **/

/* css for modal */
.modal-extra {
  margin: 20px;
  padding: 20px 40px;
  font-family: "Verdana";
}

h1 {
  text-align: center;
}

h4 {
  text-align: center;
}

.table {
  width: 600px;
}

.on-sale {
  color: red;
}

.qty {
  width: 60px;
}

.animate-repeat2 {
  line-height: 40px;
  list-style: none;
  box-sizing: border-box;
}

.animate-repeat2.ng-move,
.animate-repeat2.ng-enter,
.animate-repeat2.ng-leave {
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}

.animate-repeat2.ng-leave.ng-leave-active,
.animate-repeat2.ng-move,
.animate-repeat2.ng-enter {
  opacity: 0;
  max-height: 0;
}

.animate-repeat2.ng-leave,
.animate-repeat2.ng-move.ng-move-active,
.animate-repeat2.ng-enter.ng-enter-active {
  opacity: 1;
  max-height: 40px;
}

.textCapitalize {
  text-transform: capitalize;
}

/* styling for customerLogin */

.customer-login {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #fbf0f1;
  font-family: "Roboto", sans-serif;
}
section.chat__section {
  width: 800px;
  max-width: 90%;
  background: #fff;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.brand {
  padding: 20px;
  background: #f78b2f;
  display: flex;
  align-items: center;
}
.brand h1 {
  text-transform: uppercase;
  font-size: 20px;
  color: #444;
  margin-left: 10px;
}
.message__area {
  height: 500px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding-top: 40px;
}
textarea {
  width: 100%;
  border: none;
  padding: 20px;
  font-size: 16px;
  outline: none;
  background: #fbfbfb;
}

.message {
  padding: 20px;
  border-radius: 4px;
  max-width: 300px;
  position: relative;
  margin-bottom: 60px;
}
.incoming {
  background: #8f8be8;
  color: #fff;
}
.outgoing {
  background: #e9eafd;
  color: #787986;
  /* margin-left: auto; */
}
.message h4 {
  position: absolute;
  top: -20px;
  left: 0;
  color: #333;
  font-size: 14px;
  left: 5%;
}
.message h5 {
  position: absolute;
  top: 105%;
  left: 55%;

  color: rgb(88, 85, 85);
  font-size: 14px;
}
#customerName {
  text-transform: capitalize;
}

.metricsButtons {
  margin-top: 25px;
  height: 100px;
  width: 100%;
}
