<!-- @format -->

<!-- <h1><a href="#!login">Go Back</a></h1> -->
<h1>{{value}}</h1>
<div class="customer-login">
  <section class="chat__section">
    <div class="brand d-flex justify-content-between">
      <img height="20" src="assets/img/logos/logo-2.png" alt="" />
      <a class="close" href="#!login"
        ><img
          height="30"
          src="https://cdn-icons-png.flaticon.com/512/93/93634.png"
      /></a>
    </div>
    <div class="message__area">
      <div class="incoming message">
        <h4>Rajat</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad sed
          atque, nisi minima ipsum, explicabo adipisci dolores non, saepe alias
          et esse aperiam doloribus. Quam culpa vel suscipit ipsam illum?
        </p>
      </div>
    </div>
    <div>
      <textarea
        ng-model="string"
        ng-enter="onEnter(string)"
        id="textarea"
        cols="30"
        rows="1"
        placeholder="Write a message..."
      ></textarea>
    </div>
  </section>
</div>
