
<!-- <uib-tabset active="activeJustified" justified="true">
  <uib-tab index="0" heading="Justified">Justified content</uib-tab>
  <uib-tab index="1" heading="SJ">Short Labeled Justified content</uib-tab>
  <uib-tab index="2" heading="Long Justified">Long Labeled Justified content</uib-tab>
</uib-tabset> -->

<div class="d-flex justify-content-center">
  <div class="row">
    <div col="col-md-12">
       <button type="button"
       class="btn btn-primary" 
      ng-click="openOrderModal('newOrder')" >
        ORDER FOOD
      </button>    
      <button type="button"
      ng-class="{'btn btn-success':bulkEditOrdersButton == true ,'btn btn-warning': bulkEditOrdersButton == false}"
     ng-click="setBulkEditOrdersButton()" >
       {{bulkEditOrdersButtonText}}
     </button>    
      
      <select  ng-if="bulkEditOrdersIds.length" ng-model="selectedItem" class="btn btn-danger  dropdown-toggle"
      ng-init="selectedItem = 'None'" 
      ng-change="bulkOrderStatusChange(selectedItem)"
      ng-options="item for item in bulkEditStatusOptions"></select>
      
     </div>
    </div>
</div>



</div>
  <!-- Row 2 -->
  <div ng-init="getAllData()" class="row">
    
      <div ng-init="getAllFooddishes()" class="container py-5">
       
       <!--! this is tab switch-->
        <uib-tabset ng-if="showOrdersTabs" active="active">
          <uib-tab ng-if="orders.length" index="0" heading="Take Away">
            <br>
            <div class="row row-cols-4 justify-content-center">
              <div ng-repeat="order in orders | orderBy :'-date'" class="col border py-3 px-lg-3 d-flex justify-content-center">
           
                <div class="card text-center">
                  <div class="card-header">
                    {{order.orderId }}
                  </div>
                  <div class="card-body">
                    <h5 class="card-title textCapitalize" >{{order.customerName}}</h5>
                    <p class="card-text">
    
                      
    
                      <div style="width:100%; height :60px;" >
                        <h5> Order Status</h5>
                      <select ng-model="order.orderStatus" class=" border border-primary  bg-light  btn  dropdown-toggle"
                      ng-init="order.orderStatus"
                      ng-change="statusChange(order.orderStatus,order.orderId,order)"
                      ng-options="item for item in statusOptions"></select>
                      </div>
                    
                    </p>
                    
                     <!-- here is modal of cards -->
                    
                  
                     
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" ng-click="openInfoModal(order)">
                      More
                    </button>
                    <button type="button" class="btn btn-warning" ng-click="openOrderModal('edit',order)">Edit</button>
                    <div style="margin-top: 10px;"class="btn-group btn-group-toggle" data-toggle="buttons">
                      <label   ng-if="bulkEditOrdersButton" class="btn btn-outline-secondary" >
                        <input type="checkbox"ng-change="setBulkEditOrders()" ng-model="bulkEditOrders[order.orderId]"> BULK EDIT
                      </label>
                     </div>
                  </div>
                  <div class="card-footer text-muted">
                    <b>Total : {{order.orderAmount| currency:"₹":true }}</b>
                  </div>
                </div>
               
              </div>
           </div>
            <!-- pagination  -->
            <div ng-show="showPagination" style="margin: 50px;" >
              <div class="justify-content-center" 
              uib-pagination 
              total-items="ordersCount" 
              ng-model="currentPage" 
              ng-change="pageChange(currentPage)"
              max-size="maxSize" 
              class="pagination-sm" 
              boundary-links="true" 
              rotate="false"
              items-per-page="itemsPerPage"
              >
              </div>
            </div>



          </uib-tab>
          <uib-tab ng-if="dineInOrders.length" index="1" heading="Dine In">
            <br>
            <div  class="row row-cols-4 justify-content-center">
              <div ng-repeat="order in dineInOrders | orderBy :'-date'" class="col border py-3 px-lg-3 d-flex justify-content-center">
           
                <div class="card text-center">
                  <div class="card-header">
                    {{order.orderId || order._id}}
                  </div>
                  <div class="card-body">
                    <h5 class="card-title textCapitalize" >{{order.customerName}}</h5>
                    <p class="card-text">
                      <div style="width:100%; height :60px;" >
                        <h5> Order Status</h5>
                      <select ng-model="selectedItem" class=" border border-primary  bg-light  btn  dropdown-toggle"
                      ng-init="selectedItem = order.orderStatus" 
                      ng-change="statusChange(selectedItem,order.orderId,order)"
                      ng-options="item for item in statusOptions"></select>
                      </div>                    
                    </p>
                    <button type="button" class="btn btn-primary" ng-click="openInfoModal(order)">
                      More
                    </button>
                    <button type="button" class="btn btn-warning" ng-click="openOrderModal('edit',order)">Edit</button>
               
                  </div>
                  <div class="card-footer text-muted">
                    <b>Total : {{order.orderAmount| currency:"₹":true }}</b>
                  </div>
                </div>
               
              </div>
           </div>
  
          </uib-tab>
                  </uib-tabset>
            
      </div>
      <div ng-if="!showOrdersTabs">
        <h4>#### Create some orders ####</h4>
      </div>
  </div>
</div>  


  







