
<!-- <uib-tabset active="activeJustified" justified="true">
  <uib-tab index="0" heading="Justified">Justified content</uib-tab>
  <uib-tab index="1" heading="SJ">Short Labeled Justified content</uib-tab>
  <uib-tab index="2" heading="Long Justified">Long Labeled Justified content</uib-tab>
</uib-tabset> -->

<div class="d-flex justify-content-center">
  <div class="row">
    <div col="col-md-12"> <button type="button"
       class="btn btn-primary" 
      ng-click="openOrderModal('newOrder')" >
        ORDER FOOD
      </button>    
    </div>
</div>



</div>
  <!-- Row 2 -->
  <div ng-init="getAllOrders()" class="row">
    
      <div ng-init="getAllFooddishes()" class="container py-5">
       
       <!--! this is tab switch-->
        <uib-tabset active="active">
          <uib-tab index="0" heading="Take Away">
            <br>
            <div class="row row-cols-4 justify-content-center">
              <div ng-repeat="order in orders | orderBy :'-date'" class="col border py-3 px-lg-3 d-flex justify-content-center">
           
                <div class="card text-center">
                  <div class="card-header">
                    {{order.orderId || order._id}}
                  </div>
                  <div class="card-body">
                    <h5 class="card-title textCapitalize" >{{order.customerName}}</h5>
                    <p class="card-text">
    
                      
    
                      <div style="width:100%; height :60px;" >
                        <h5> Order Status</h5>
                      <select ng-model="selectedItem" class=" border border-primary  bg-light  btn  dropdown-toggle"
                      ng-init="selectedItem = order.orderStatus" 
                      ng-change="statusChange(selectedItem,order.orderId,order)"
                      ng-options="item for item in statusOptions"></select>
                      </div>
                    
                    </p>
                    
                     <!-- here is modal of cards -->
    
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" ng-click="openInfoModal(order)">
                      More
                    </button>
                    <button type="button" class="btn btn-warning" ng-click="openOrderModal('edit',order)">Edit</button>
               
                  </div>
                  <div class="card-footer text-muted">
                    <b>Total : {{order.orderAmount| currency:"₹":true }}</b>
                  </div>
                </div>
               
              </div>
           </div>
            <!-- pagination  -->
            <div ng-show="showPagination" style="margin: 50px;" >
              <div class="justify-content-center" 
              uib-pagination 
              total-items="ordersCount" 
              ng-model="currentPage" 
              ng-change="pageChange(currentPage)"
              max-size="maxSize" 
              class="pagination-sm" 
              boundary-links="true" 
              rotate="false"
              items-per-page="itemsPerPage"
              >
              </div>
            </div>



          </uib-tab>
          <uib-tab  index="1" heading="Dine In">
            <br>
            <div ng-init="getAllDineInOrders()" class="row row-cols-4 justify-content-center">
              <div ng-repeat="order in dineInOrders | orderBy :'-date'" class="col border py-3 px-lg-3 d-flex justify-content-center">
           
                <div class="card text-center">
                  <div class="card-header">
                    {{order.orderId || order._id}}
                  </div>
                  <div class="card-body">
                    <h5 class="card-title textCapitalize" >{{order.customerName}}</h5>
                    <p class="card-text">
                      <div style="width:100%; height :60px;" >
                        <h5> Order Status</h5>
                      <select ng-model="selectedItem" class=" border border-primary  bg-light  btn  dropdown-toggle"
                      ng-init="selectedItem = order.orderStatus" 
                      ng-change="statusChange(selectedItem,order.orderId,order)"
                      ng-options="item for item in statusOptions"></select>
                      </div>                    
                    </p>
                    <button type="button" class="btn btn-primary" ng-click="openInfoModal(order)">
                      More
                    </button>
                    <button type="button" class="btn btn-warning" ng-click="openOrderModal('edit',order)">Edit</button>
               
                  </div>
                  <div class="card-footer text-muted">
                    <b>Total : {{order.orderAmount| currency:"₹":true }}</b>
                  </div>
                </div>
               
              </div>
           </div>
  
          </uib-tab>
                  </uib-tabset>
            
      </div>
  </div>
</div>  


  







