<!-- @format -->

<h1>History</h1>
<div class="row" ng-init="getHistorydata()">
    <div class="container py-5">
        <div class="row row-cols-4 justify-content-center">
          
          <div ng-repeat="order in history | orderBy :'-date'" class="col border py-3 px-lg-3 d-flex justify-content-center"><div class="card text-center">
            <div class="card-header">
              {{order.orderId || order._id}}
            </div>
            <div class="card-body">
              <h5 class="card-title textCapitalize">{{order.customerName}}</h5>
              <p class="card-text">
                <div style="width:100%; height :60px;" >
                  <h5> Order Status</h5>
                <select ng-disabled="true" ng-model="selectedItem" class=" border border-primary  bg-light  btn  dropdown-toggle"
                ng-init="selectedItem = order.orderStatus" 
                ng-change="statusChange(selectedItem,order.orderId)"
                ng-options="item for item in statusOptions"></select>
                </div>
              </p>              
                <!-- here is modal of cards -->
                
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop">
                More
              </button>

              <!-- Modal -->
              <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="staticBackdropLabel">Order details</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <table>
                          <tr ng-repeat="item in order.dishList">
                            <td>{{ item.name }}</td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                             <td >{{ item.price | currency:"₹":true }}</td>
                          </tr>
           
                      </table>



                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary">Okay</button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Endof modal of cards -->
            </div>
            <div class="card-footer text-muted">
              <b>Total : {{order.orderAmount| currency:"₹":true }}</b>
            </div>
          </div>
        </div>
      </div>
      <div style="margin-top: 50px;" >
        <div class="justify-content-center" 
        uib-pagination 
        total-items="ordersCount" 
        ng-model="currentPage" 
        ng-change="pageChange(currentPage)"
        max-size="maxSize" 
        class="pagination-sm" 
        boundary-links="true" 
        rotate="false"
        items-per-page="itemsPerPage" >
        </div>
      </div>
  </div>
</div>
