<!-- @format -->

<h1>History</h1>
<div class="row" ng-init="getHistorydata()">
    <div class="container py-5">
        <div class="row row-cols-4 justify-content-center">
          
          <div ng-repeat="order in history | orderBy :'-date'" class="col border py-3 px-lg-3 d-flex justify-content-center"><div class="card text-center">
            <div class="card-header">
              {{order.orderId || order._id}}
            </div>
            <div class="card-body">
              <h5 class="card-title textCapitalize">{{order.customerName}}</h5>
              <p class="card-text">
                <div style="width:100%; height :60px;" >
                  <h5> Order Status</h5>
                <select ng-disabled="true" ng-model="selectedItem" class=" border border-primary  bg-light  btn  dropdown-toggle"
                ng-init="selectedItem = order.orderStatus" 
                ng-change="statusChange(selectedItem,order.orderId)"
                ng-options="item for item in statusOptions"></select>
                </div>
              </p>              
                <!-- here is modal of cards -->
                
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-primary" ng-click="openInfoModal(order)">
                More
              </button>
            </div>
            <div class="card-footer text-muted">
              <b>Total : {{order.orderAmount| currency:"₹":true }}</b>
            </div>
          </div>
        </div>
      </div>
      <div ng-if="showPagination"
      style="margin-top: 50px;" >
        <div class="justify-content-center" 
        uib-pagination 
        total-items="ordersCount" 
        ng-model="currentPage" 
        ng-change="pageChange(currentPage)"
        max-size="maxSize" 
        class="pagination-sm" 
        boundary-links="true" 
        rotate="false"
        items-per-page="itemsPerPage" >
        </div>
      </div>
      <div ng-if="!showPagination">
        <h4>#### Create some orders ####</h4>
      </div>
  </div>
</div>
